.About {
  flex: 2;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4em;
}

.aboutPresentation {
  margin-top: 50px;
  width: 80%;
  font-size: 0.8em;
  color: var(--color-text);
  font-style: italic;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  width: 100%;
  height: 100%;
  margin-top: 1em;
  border-radius: 30%;
  object-fit: cover;
}

.containerImg {
  width: 500px;
  height: 350px;
}
