.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.allLangage {
  display: flex;
  gap: 10px;
}

.link_github {
  width: max-content;
}

.link_link {
  height: 20px;
  width: 20px;
}

.img {
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 20px;
}

.txt h2 {
  font-size: 15px;
}
