.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  border: 1px solid var(--border);
}

.allLangage {
  display: flex;
  gap: 10px;
}

.link_link {
  height: 15px;
  width: 15px;
}

.img {
  height: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 20px;
}

.txt h2 {
  font-size: 15px;
}

.description {
  font-size: 10px;
}

@media screen and (max-width: 640px) {
  .Card {
    margin: auto;
    margin-bottom: 20px;
  }
}
