.Header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
}

.myImg {
  width: 100px;
  height: 200px;
  border-radius: 10px;
}

.Header h1 {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}

.name {
  color: white;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.myImg {
  width: 50%;
}
.Header_img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary--bg);
  padding: 2em;
}

.skills {
  background-color: var(--bg-skills);
  padding: 1em;
}

ul {
  list-style: none;
  width: 100%;
}

.Header ul li {
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0.3em 0;
  font-size: 0.8em;
}

.profil {
  color: var(--color-text);
}

.separator {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0.5px solid var(--color-text);
}

.experience {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.exp {
  width: 100%;
  height: 1px;
  margin-top: 1em;
}

.exp {
  background-color: black;
}

.html,
.css,
.js,
.php,
.react {
  border: 1px solid var(--border-color);
}

.langage {
  display: flex;
  justify-content: space-between;
}

.langage strong {
  display: flex;
  align-items: center;
}

.langage div {
  font-weight: normal;
}

.Header .otherSkills li,
.Header .Allpage li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  color: var(--color-text);
}

.Header .Allpage li {
  cursor: pointer;
  font-size: 1em;
  padding: 1em 0;
}

.Header .Allpage a {
  color: var(--color-text);
  text-decoration: none;
}

.Header .Allpage li:hover {
  background-color: var(--border-color);
  border-radius: 10px;
}

.iconPage {
  margin-right: 1em;
}

.iconSkills {
  color: var(--border-color);
  margin-right: 0.5em;
}

.cv {
  text-decoration: none;
  color: var(--color-text);
  font-weight: bold;
  font-size: 0.8em;
}

.cv:hover {
  color: white;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  color: var(--color-text);
  background-color: var(--secondary--bg);
  font-size: 1.5em;
}

.iconLangage {
  font-size: 1.5em;
  margin-left: 0.4em;
  color: var(--color-text);
}

.containerCv {
  padding: 1em;
  flex: 1;
}

.iconContact:hover {
  cursor: pointer;
  color: white;
}

.containerDiscord {
  position: relative;
}
