.containerCard {
  display: flex;
  flex-direction: column;
}

.filtreInput {
  width: max-content;
  height: max-content;
}

input {
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
}

.projects {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .projects {
    justify-content: center;
    height: 80%;
    overflow-y: auto;
  }
  .projects::-webkit-scrollbar {
    background-color: inherit;
  }
  .containerCard {
    padding: 0;
    height: 70vh;
  }
}
