.containerCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: 10px;
  scrollbar-color: var(--border);
  width: 90%;
  height: max-content;
  padding: 50px 0px;
}

.filtreInput {
  width: max-content;
  height: max-content;
}

input {
  background-color: inherit;
  color: white;
  border: none;
  outline: none;
}

.projects {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 640px) {
  .projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .projects::-webkit-scrollbar {
    background-color: inherit;
  }
  .containerCard {
    padding: 0;
    height: 80%;

    width: 100%;
  }
}
