.react {
  width: 20px;
  height: 20px;
}

footer,
.git,
.error,
.prettier,
.langageUse,
.langage,
.notif {
  display: flex;
}

footer {
  justify-content: space-between;
}
.error,
.prettier,
.langageUse,
.langage {
  align-items: center;
}
.error p,
.error svg {
  margin-left: 0.2em;
}

.prettier,
.notif {
  margin-left: 0.5em;
}

.prettier svg {
  margin-right: 0.2em;
}

.main,
.error {
  padding: 0.2em;
}

.error:hover {
  cursor: pointer;
  background-color: yellow;
}

.main:hover {
  cursor: pointer;
  background-color: red;
}

.react {
  width: 20px;
  height: 20px;
}
