@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --bg-body: #191923;
  --bg-app: #1e1e28;
  --bg-skills: #20202a;
  --secondary--bg: #24242f;
  --border-color: #ffc107;
  --color-text: #6e6e72;
  --police: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--police);
  background-color: var(--bg-body);
}

.App {
  display: flex;
  background-color: var(--bg-app);
}
