* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./../public/ttf/JetBrainsMono-Regular.ttf");
}

html,
body,
#root,
.App,
.container {
  height: 100%;
  background-color: #24292e;
  color: white;
}

.container {
  display: flex;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explorer {
  display: flex;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.container_pages {
  height: 100%;
  padding: 10px;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100%;
  font-family: "JetBrains Mono";
  overflow: auto;
}

@media screen and (max-width: 910px) {
  section {
    justify-content: center;
  }
}
