.nav_main {
  color: white;
}

.nav_main ul {
  display: flex;
  list-style: none;
}

.nav_main ul a {
  text-decoration: none;
  color: inherit;
}

.nav_main ul a li {
  padding: 3px 40px;
}

.nav_main ul a li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav_main ul a li img {
  width: 20px;
  height: 20px;
}

.nav_main ul a li:hover {
  cursor: pointer;
}

@media screen and (max-width: 910px) {
  .nav_main {
    display: none;
  }
}
